{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Заполните данные профиля</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="avatar" class="form-label">Аватар</label>
            {{ form.avatar }}
        </div>

        <div class="mb-3">
            <label for="bio" class="form-label">О себе</label>
            {{ form.bio }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Сохранить</button>
    </form>
</div>
{% endblock %}